input,select,textarea{
    width 80%;
    margin 10px auto;
    display block;
    height 30px;
    line-height 70px;
}
// button{
//     width 50%;
//     border none;
//     background $primary;
//     color $color4;
//     cursor pointer
//     padding 5px 0;
//     font-size: 18px;
//     border-radius: 5px;
// }
.btn-primary{
    background $primary;
}
.btn-info{
    background $info;
}
.btn-third{
    background $third;
}
