table{
    border 1px solid $primary
    border-collapse collapse
    width 80%;
    margin 20px auto
    tr {
        td,th{
            padding 5px 0;
            border 1px solid $primary
            color $color1
            text-align center
            button{
                width 40%;
            }
        }
    }
}